@model Message
@{
    ViewData["Title"] = "Send a message";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <form method="post">
        <div class="row">
            <label asp-for="Sender" class="col-sm-3" form-label>Sender</label>
            <div class="col-sm-3">
                <input asp-for="Sender" class="form-control"/><br />
            </div>
        </div>

        <label for="recipient">Recipient</label>
        <input id="recipient" name="Recipient.Name" /><br />

        <label for="subjectt">Subject</label>
        <input id="subject" name="Subject" /><br />

        <label for="content">Content</label>
        <input id="content" name="Content" /><br />

        <label for="priority">Priority</label>
        <input id="priority" name="Priority" /><br />

        <div class="row">
            <div class="col offest-sm-3">
                <button type="submit" class="btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>