@using MyCommunitySite.Models.ViewModels
@model ReplyVM
@{
    ViewData["Title"] = "Reply";
}
<h2>Reply</h2>
<strong>Enter your Reply</strong>
<br />
<form method="post" class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row p-2">
        <label asp-for="ReplyText" class="control-label col-md-1">Message</label>
        <textarea asp-for="ReplyText" placeholder="Write your reply here." class="form-control col-md-6"></textarea>
        <span asp-validation-for="ReplyText" class="text-danger"></span>
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
    </div>
</form>
<br />
<hr />
