@{
    ViewData["Title"] = "Links";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
    <a href="https://www.nps.gov/articles/hiking-safety.htm">National Park Service hiking safety guide</a><br />
    <a href="https://www.alltrails.com/us/oregon/eugene">AllTrails top 10 Eugene area hikes</a><br />
    <a href="https://www.alltrails.com/us/oregon">AllTrails top 10 Oregon hikes</a><br />
</div>
