@{
    ViewData["Title"] = "My Stuff";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
    <p>This is where I'll put links to past work and stuff I like.</p>
    <div class="text-left">
    <hr>
    <div class="list-group">
        <a asp-controller="MyStuff" asp-action="OldStuff">Past Work</a>
        <a asp-controller="MyStuff" asp-action="Recipes">Recipes</a>
    </div>
</div>