html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/Images/SpencerButte_3-22-20.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*prevents label input/textarea overlap when window width between 575 & 768*/
label {
    margin-right: 1em;
}

button {
    border-radius: 0.3em;
}

.card {
    min-width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: none;
}

textarea {
    resize: none;
    width: 100%;
    height: 10vh;
    overflow: scroll;
}
    textarea:disabled {
        color: rgba(0,0,0,0.75);
        font-style: italic;
    }
/*table table-bordered table-striped table-light opacity-75 table-sm*/