html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/Images/SpencerButte_3-22-20.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*prevents label input/textarea overlap when window width between 575 & 768*/
label {
    margin-right: 1em;
}