@{
    ViewData["Title"] = "History";
}
<h1>@ViewData["Title"]</h1>
<div class="text-align-left">
    <p>There are many great hiking trails in and around Eugene and it has been a common activity since the
        city's inception. The Spencer Butte trail is the most popular hike in Eugene. If you're willing to drive
        for a bit there are a ton of trails in the wider Oregon as well.
    </p>
</div>