@{
    ViewData["Title"] = "MyCommunityWebsite";
}

<div class="jumbotron">
    <p class="lead">Website for Eugene area hiking enthusiasts.</p>
    <div class="list-group">
        <a asp-controller="Messages" asp-action="Index">Messages</a>
        <a asp-controller="Home" asp-action="History">History</a>
        <a asp-controller="Home" asp-action="Quiz">Take the hiking quiz!</a>  
    </div>
</div>
