@{
    ViewData["Title"] = "MyCommunityWebsite";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my community website for CS295N</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
