@{
    ViewData["Title"] = "MyCommunityWebsite";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <p>This is my community website for CS295N</p>
    <hr>
    <div class="list-group">
        <a asp-controller="Messages" asp-action="Index">Messages</a>
        <a asp-controller="Home" asp-action="History">History</a>
    </div>
</div>
